* {
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 20%;
  margin: auto;
  margin-top: 1rem;
  padding: 15px;
  border: 2px solid rgba(8, 8, 240, 0.911);
  border-radius: 10px;
}
.form h2 {
  text-align: center;
}
/*label{
    
}*/
input {
  font-size: 18px;
  font-family: sans-serif;
  background: none;
  border: none;
}
input:focus {
  outline: none;
}
textarea {
  font-size: 18px;
  outline: none;
  background: none;
  border: none;
}
.submit {
  width: 65px;
  color: rgb(255, 255, 255);
  background-color: rgb(12, 9, 214);
  border: none;
  padding: 5px;
  border-radius: 5px;
  margin-top: 8px;
}
.submit:hover {
  background-color: rgb(226, 30, 17);
}

@media (max-width: 630px) {
  .form h2 {
    font-size: 12px;
  }
  label {
    font-size: 10px;
  }
  input {
    font-size: 10px;
  }
  textarea {
    font-size: 8px;
  }
  .submit {
    font-size: 10px;
    width: 40px;
  }
}
